@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body {
    margin: 0;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

body a,
.w3ls-btn {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
    color: #333;
    font-size: 1em;
    line-height: 1.7;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

.list-group-item {
    background-color: transparent;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

/* colors code */
.text-bl {
    color: #343a40;
}

.text-wh {
    color: #fff;
}

.text-li {
    color: #f8f9fa;
}

.bg-li {
    background: #f8f9fa;
}

.bg-wh {
    background: #fff;
}

.let {
    letter-spacing: 1px;
}

/* //colors code */

/* bottom-to-top */
a.move-top {
    position: fixed;
    bottom: 1.5%;
    right: 2%;
    z-index: 0;
}

a.move-top span {
    color: #00f2aa;
    font-size: 30px;
}

/* //bottom-to-top */

/* header */
header {
    background: #fff;
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: solid 1px rgba(216, 216, 216, 0.78);
}

/* navigation */
/* CSS Document */
.toggle-2,
.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
}

.logo{
    width: 180px;
}

#logo a {
    float: left;
    display: initial;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: capitalize;
    color: #fff;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */
nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    /* float: right; */
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    font-size: 14px;
}

/* Styling the links */
nav a {
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding: 4px 10px;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    border-radius: 20px;
}

/* Background color change on Hover */
.menu li a.active,
.menu li a:hover {
    color: #fff;
    background: #0083ff;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    width: 80%;
    display: none;
    position: absolute;
    top: 29px;
    background: #333;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    z-index: 9;
    /* has to be the same number as the "line-height" of "nav a" */
}

/* Display Dropdowns on Hover */
nav ul li:hover>ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: 6px 0;
    letter-spacing: 1px;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li>a:only-child:after {
    content: '';
}

/* Media Queries
--------------------------------------------- */
@media(max-width: 1280px) {
    nav a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1081px) and (max-width: 1199px)  {

    .ml-lg-5, .mx-lg-5{
        margin-left: 0 !important;
    }
}

@media all and (max-width : 991px) {
    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle+a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 8px 12px;
        font-size: 14px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #fff;
        color: #000;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        letter-spacing: 1px;
        margin-bottom: 0;
        cursor: pointer;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        max-width: 131px;
        padding: 5px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: .5px;
        background: transparent;
        color: #000;
        text-transform: uppercase;
        border-radius: 20px;
    }

    .toggle:hover {
        opacity: .8;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .menu .toggle:hover,
    .menu .toggle.active {
        color: #000000;
        background: #ffffff;
        opacity: 1;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked+ul {
        display: block;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    nav ul {
        float: right;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul li a {
        display: inline-block;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }

    nav a {
        font-size: 14px;
        display: inline-block;
        margin: 8px 0;
    }

    a.reqe-button {
        padding: 12px 20px;
        font-size: 13px;
        margin: 0 8px;
    }
}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}

/* dropdown */
#demo {
    margin: 10px 0 0px 0;
}

#demo .wrapper {
    display: inline-block;
    position: relative;
}

#demo .parent {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    color: #fff;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 0;
    padding-right: 0;
}

#demo .parent:hover,
#demo .content:hover~.parent {
    -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover~.parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}

#demo .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 150px;
    padding-top: 30px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
}

#demo .wrapper:active .content {
    height: 150px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}

#demo .content:hover {
    height: 150px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}


#demo .content ul {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#demo .content ul a {
    text-decoration: none;
    padding: 0;
}

#demo .content li {
    list-style: none;
    text-align: left;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-top: 1px solid #eee;
}

#demo .content li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* //dropdown */
/* //navigation */
li.nav-right-sty {
    margin-left: 7em;
}

a.reqe-button {
    color: #000;
    letter-spacing: 1px;
    padding: 9px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
    display: inline;
    text-transform: uppercase;
}


.flag-ico img{
    margin-bottom: 4px;
    width: 25px;
    height: 25px;
}



/* //heaser */
/* login */
.modal-body {
    max-width: 600px;
    margin: 0 auto;
}

input.form-control.bg-theme {
    cursor: pointer;
}

.text-theme-2:hover,
.text-theme-2 {
    color: #000;
}

.w3ls-btn {
    background: #0083ff;
    color: #fff;
    padding: 5px 43px;
    display: block;
    margin-top: 5em;
    letter-spacing: 0.5px;
    border-radius: 0px;
    text-transform: capitalize;
    font-weight: 600;
}


/*new css*/


/* banner */

.serv {
    background: url(../images/build.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}


.serv:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.blog-sec{
    background: url(../images/build.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}


.blog-sec:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}



.cnt-sec{
    background: url(../images/call.jpeg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 100px 0;
}


.cnt-sec:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}




.serv-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    color: #fff;
    border: solid 1px #ccc;
}

.serv-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.serv-card:nth-child(odd) {
    background: #009ac6;
    transition: all 0.4s;
    cursor: pointer;
  }

  .serv-card:nth-child(odd):hover {
    background: #fff;
    color: #000;
  }
  
  .serv-card:nth-child(even) {
    background: #15435a;
  }


  .serv-card:nth-child(even):hover {
    background: #fff;
    color: #000;
  }

.serv-card img{
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.vid-wrraper p{
    font-size: 22px;
    line-height: 37px;
    text-align: justify;
}

#carousel .caption h2{
    margin-bottom: 10px;
}

.video-con{
    padding: 50px 0;
    background-color: #333;
}

.vid-wrraper{
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
}

#carousel .carousel-item.boat {
    background-image: url(../images/banner.jpg);
  }
  
  #carousel .carousel-item.sea {
    background-image: url("https://picsum.photos/1200/600/?image=1050");
  }
  
  #carousel .carousel-item.river {
    background-image: url("https://picsum.photos/1200/600/?image=1015");
  }
  
  #carousel .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
    color: #fff;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  /* Button */
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #49a5fc;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #0083ff;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37;
  }


.mob i{
    margin-right: 5px;
}

.top_contact_bar{
    background-color:#0083ff;
    color: #fff;
    padding: 5px 0;
}

.top_contact_bar a{
    color: #fff;
}

.mail-ico{
    margin-right: 10px;
}

.social-media a{
    padding: 0 10px 0 0;
}

figure.snip1205 {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1205 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip1205 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1205 i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
figure.snip1205 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1205:hover img,
figure.snip1205.hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
figure.snip1205:hover i,
figure.snip1205.hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.breadcrumb{
    display: none !important;
}

.service ul{
margin-left: 14px;
}

.service ul li {
    list-style-type: none;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px;
}

.service ul li::before {
    content: "\2022";
    color: #0083ff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.service p{
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
}

.btn-contact{
    padding: 8px 25px !important;
}
.fixedcallicon {
    color: rgba(255,255,255,0.7);
    position: fixed;
    top: 50%;
    right: 0;
    width: 65px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    display: inline-block;
    z-index: 99;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 1s ease;
    padding-left: 15px;
}



.br-none{
    border: none !important;
}

.br-right{
    position: relative;
}

.br-right::before{
    content: '';
    width: 1px;
    height: 200px;
    border: solid 1px rgba(216, 216, 216, 0.78);
    position: absolute;
    right: 0;
    top: 140px;
}

.flex-con-uae{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-con-uae a{
    display: flex;
    align-items: center;
}

.flex-con-uae span{
    margin-right: 10px;
}


.slider {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  display: none;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.over-hid{
    overflow: hidden;
    border: solid 1px rgba(216, 216, 216, 0.78);
}

.bg-none{
    background-color: #fff !important;
}

.banner_text_wthree_pvt{
    position: relative;
}

.nav__wrapper .navmenu-toggle {
    align-items: center;
    color: darkred;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
}


.nav__wrapper .navmenu-toggle.open .bar1 {
    transform: rotate(-45deg) translate(-3px, 7px);
}

.nav__wrapper .navmenu-toggle.open .bar2 {
    opacity: 0;
}

.nav__wrapper .navmenu-toggle.open .bar3 {
    transform: rotate(45deg) translate(-3px, -7px);
}


.nav__wrapper .navmenu-toggle .bar1, .nav__wrapper .navmenu-toggle .bar2, .nav__wrapper .navmenu-toggle .bar3 {
    width: 24px;
    height: 3px;
    background-color: #000;
    margin: 2px 0;
    transition: 0.4s;
    border-radius: 5px;
}


.fb-frame{
    height: 300px !important;
    width: 100%;
    max-width: 350px !important;
}


.map-box{
    border: 1px solid #dbdde2;
    border-radius: 0;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    letter-spacing: 1px;
}

.flex-con{
    margin-bottom: 25px;
}

.flex-con a{
    display: flex !important;
    align-items: center;
}

.flex-con span{
    margin-right: 10px;
}

.cnt-sec{
    padding: 50px 0;
}

.business-stripe{
    background-color: #0083ff;
    padding: 50px 0;
}

.business-stripe h3{
    margin-bottom: 15px;
}

.btn-download{
    background-color: #333333;
    color: #fff;
    border: none;
    border: solid 1px #ccc;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all .4s;
}

.btn-download:hover{
    background-color: transparent;
    color: #fff;
}

.acc-info p{
    font-size: 13px;
    max-height: 210px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}


.acc-info-p0{
    padding: 0;
    border: solid 1px #0083ff;
    border-radius: 5px;
}

.acc-info p{
    font-weight: 600;
    line-height: 28px;
}

.acc-info-p0 img{
    width: 520px;
    height: 300px !important;
    object-fit: cover;
}

.acc-info-p0 .img-thumbnail{
    padding: 0;
}


.youtube-link{
    position: relative;
}

.tim{
    position: absolute;
    max-width: 520px;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 9;
    transition: all .4s;
    cursor: pointer;
}

.tim:hover{
    background-color: transparent;
}

.service-descrp{
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}
    


.acc-info{
    background: #fff;
    height: 248px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #0083ff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24)
}

.service-img{
    position: relative;
}

.btn-more{
    position: absolute;
    z-index: 9;
    bottom: 2px;
    right: 2px;
    color: #000;
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all .4s;
    border-radius: 2px;
}

.btn-more:hover{
    background-color: #0083ff;
    color: #fff;
}

.servie-card{
    border: solid 1px #0083fe;
}

.servie-card:hover .btn-more{
    background-color: #0083ff;
    color: #fff;
}




.w3ls-btn:hover {
    background: #333;
    color: #ffffff;
}

.modal-content {
    background: #fff;
}

/*-- //header --*/

.cpy-right {
    padding: 1vw;
    background: #0083ff;
}

.cpy-right p {
    color: #fff;
}

.cpy-right a {
    color: #fff;
}

/* banner */

.banner {
    background: url(../images/banner.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.banner_text_wthree_pvt {
    padding: 15vw 0;
}

.banner:before,
.inner-banner-w3ls:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

button.btn.bg-theme {
    letter-spacing: 1px;
}

.bg-theme {
    background: #00f2aa;
    color: #fff;
}

.bg-theme1 {
    background: #ffffff;
    color: #000;
}

.banner-bottom-w3ls {
    position: absolute;
    bottom: -150px;
    left: 14%;
    width: 72%;
}

.bb-img h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: center;
    margin: 1em 0 0;
    color: #000;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.align-w3-abt {
    padding: 14em 0 0;
}

.wthree-link-bnr {
    padding: 8px 25px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    background: #0083ff;
    border: 1.5px solid #ffffff;
    text-transform: uppercase;
}

.wthree-link-bnr:hover {
    color: #fff;
    opacity: .8;
}

button.btn.wthree-link-bnr:hover {
    background: #fff;
    color: #000;
}

ul.bnr-txt {
    color: #fff;
    font-size: 1.1em;
    margin: 0.5em 0 1.2em;
    line-height: 2;
}


.ico-space img{
    margin-right: 10px;
}

button.wthree-link-bnr:hover {
    background: #0083ff;
    color: #fff;
}

h3.home-banner-w3 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.4;
    text-transform: capitalize;
    width: 50%;
    font-weight: 700;
    word-spacing: 4px;
}

/* inner banner */

.inner-banner-w3ls {
    background: url(../images/inner-banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    z-index: 0;
}

.corporate{
    background: url(../images/corp.jpg) no-repeat center;
    min-height: 500px;
    background-size: cover;
}

.project{
    background: url(../images/pro.jpeg) no-repeat center;
    min-height: 500px;
    background-size: cover;
}

.merge{
    background: url(../images/merge.jpeg) no-repeat center;
    min-height: 500px;
    background-size: cover;
}

.debt,.business,.virtual,.audit,
.serve,.out,.legal,.exchange,.invent,
.value,.cap,.con,.bpo,.visa,
.abt,.ins,.netmap,.sub{
    min-height: 500px;
    background-size: cover;
}

.debt{
    background: url(../images/debt.jpeg) no-repeat center;
}

.sub{
    background: url(../images/sup.webp) no-repeat center;
    background-size: cover;

}

.business{
    background: url(../images/business.jpeg) no-repeat center;
}

.netmap{
    background: url(../images/map.jpeg) no-repeat center;
}

.ins{
    background: url(../images/ins.jpeg) no-repeat center top;
}


.virtual{
    background: url(../images/virtual.jpeg) no-repeat center -200px;
}

.audit{
    background: url(../images/audit.jpeg) no-repeat center;
}


.serve{
    background: url(../images/services.jpeg) no-repeat center top;
}

.out{
    background: url(../images/out.jpeg) no-repeat center;
}

.legal{
    background: url(../images/legal.jpeg) no-repeat center;
}

.exchange{
    background: url(../images/exchange.jpeg) no-repeat center;
}


.invent{
    background: url(../images/inventry.jpeg) no-repeat center;
}

.value{
    background: url(../images/value.jpeg) no-repeat center; 
}

.cap{
    background: url(../images/cap.jpeg) no-repeat center -200px; 
}

.con{
    background: url(../images/consult.jpg) no-repeat center -200px; 
}

.bpo{
    background: url(../images/bpo.jpg) no-repeat center; 
}

.visa{
    background: url(../images/visa.jpeg) no-repeat center; 
}

.abt{
    background: url(../images/abt.jpeg) no-repeat center; 
}


li.breadcrumb-item a {
    color: #000;
}

.breadcrumb-item.active {
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
}

/* //inner banner */

/* title */

.wthree_pvt_title {
    margin-bottom: 5em;
}

h4.w3pvt-title {
    color: #0083ff;
    text-transform: capitalize;
    font-size: 2.3em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;
}


h5.w3pvt-title {
    color: #0083ff;
    text-transform: capitalize;
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 1px 1px 1px #969696;
}

p.sub-title {
    color: #333;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1em auto 0;
}

span.sub-title {
    text-transform: capitalize;
    font-size: 1em;
    color: #333;
}

.align-w3 {
    padding: 5em 0;
}

/* //title */

/* about */

.abt-icon {
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 3px;
    border-top-color: #0087fc;
    border-bottom-color: #00f0ac;
    border-left-color: #00efac;
    border-right-color: #0083ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.abt-icon span {
    font-size: 1.7em;
    color: #0083ff;
}

.abt-txt h4 {
    text-transform: capitalize;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

.abt-txt {
    margin-left: 1em;
}

/* //about */

/* services */

.bg-services {
    background: url(../images/slide.jpg) no-repeat;
    background-size: cover;
}

.services-bg-color {
    padding: 2em;
}

h4.home-title {
    text-transform: capitalize;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #000;
}

/* services */

/* slide */

.slide-banner {
    background: url(../images/g6.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}

/* //slide */

/* blog */
span.post-icon {
    position: absolute;
    line-height: 4;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0px 12px;
    text-transform: capitalize;
    opacity: 0.6;
    background: #00f2aa;
    color: #fff;
}

h5.blog-title a {
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    font-weight: 600;
    display: block;
}

.blog-p{
    max-height: 120px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

.blog-btn {
    background: transparent;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
}

blog-btn:hover {
    color: #0083ff;
}

.card-body {
    background: #eae9ea;
}

a.blog_link {
    display: inline-block;
    color: #0083ff;
    margin-top: 1em;
    font-weight: 600;
    background: #fff;
    padding: 4px 18px;
}

/* //blog */

/*-- explore slider --*/

.callbacks_container {
    position: relative;
    z-index: 1;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li {
    position: relative;
    display: block;
    float: left;
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 1%;
    z-index: 11;
    right: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0 .3em;
}

@media screen and (max-width: 600px) {

    .virtual {
        background: url(../images/virtual.jpeg) no-repeat center;
        background-size: 500px;
    }


    .logo{
        width: 100px;
    }

    .fb-frame{
        display: none;
    }
    
    .callbacks_nav {
        top: 47%;
    }

    .align-w3-abt {
        padding: 16em 0 3em !important;
    }
    
}

.callbacks_here a:after {
    background: #000;
}

.slide-img {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}

.slide-img1 {
    background: url(../images/g6.jpg) no-repeat center;
    background-size: cover;
}

.slide-img2 {
    background: url(../images/g3.jpg) no-repeat center;
    background-size: cover;
}

/* //images slider */

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.36);
}

/* contact */

textarea {
    height: 200px;
    resize: none;
}

form.register-wthree .form-control {
    padding: 15px 20px;
    border: 1px solid #dbdde2;
    border-radius: 0;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    -moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
    letter-spacing: 1px;
}

.contact-form-wthreelayouts {
    padding: 2em;
    border: 20px solid #eee;
    border-radius: 20px;
    background-color: #fff;
}

#contact iframe {
    width: 100%;
    border: 3px solid #0083ff;
    padding: 1vw;
    min-height: 500px;
}

.contact-w3 span {
    color: #00f2aa;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    /* border-radius: 8% 37% 5% 26%; */
    /* border: 1px solid #fff; */
    text-align: center;
}

.contact-w3 {
    background: #eee;
    padding: 2.9em 1em;
}

.contact-w3 a,
.contact-w3 address p {
    color: #000;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

h5.cont-form {
    margin: 1em 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    color: #0083ff;
    font-weight: 600;
}

/* //contact */

/* team */

/* team  */

/*********************** Demo - 13 *******************/

.box13 {
    position: relative;
    transition: all .2s ease-out 0s;
    text-align: center;
}

.box13 .box-content,
.box13:after {
    position: absolute;
    left: 20px;
    right: 20px
}

/* .box13:after {
    content: "";
    display: block;
    background: #0083ff;
    background: -webkit-linear-gradient(135deg, #00f2aa, #0083ff);
    background: -ms-linear-gradient(135deg, #00f2aa, #0083ff);
    background: linear-gradient(135deg, #00f2aa, #0083ff);
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transform: rotate3d(-1, 1, 0, 100deg);
    transition: all .4s ease-in-out 0s
} */

.box13:hover:after {
    opacity: .9;
    transform: rotate3d(0, 0, 0, 0deg)
}

.box13 img {
    width: 100%;
    height: auto
}

.box13 .box-content {
    top: 50%;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translate(10%, -30%);
    transform: translate(10%, -30%);
    transition: all .2s ease-out 0s
}

.box13:hover .box-content {
    opacity: 1;
    transform: translate(0, -50%);
    transition-delay: .2s;
    background: rgba(0, 242, 170, 0.66);
    padding: 6vw;
}

.box13 .title {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px
}

.box13 .post {
    display: block;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.box13 .social {
    padding: 0;
    margin: 0;
    list-style: none
}

.box13 .social li {
    display: inline-block
}

.box13 .social li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    font-size: 17px;
    color: #1b1462;
    line-height: 35px;
    margin-right: 5px;
    transition: all .4s ease-in-out 0s
}

.box14 .icon li,
.box14 .post {
    display: inline-block
}

.box13 .social li a:hover {
    color: #ffffff;
    background: #000;
}

@media only screen and (max-width:990px) {
    .box13 {
        margin-bottom: 30px
    }
}

/* team  */

/* //team */

/* testimonials */

.testi-text p {
    color: #777;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
}

.testi-desc span {
    font-size: 2em;
    margin: 15px;
    color: #0083ff;
}

.testi-text p span {
    font-size: 1.1em;
    color: #777;
    margin: 9px 10px;
}

.testi-desc {
    text-align: center;
}

.carousel-indicators .active {
    background-color: #fb962e
}

.carousel-indicators li {
    background-color: #000;
    border: 1px solid #0083ff;
    cursor: pointer;
}

.carousel-indicators {
    bottom: -20px;
}

.testi-desc h5 {
    font-weight: 600;
    color: #333;
    font-size: 1.1em;
    text-transform: capitalize;
}

.testi-text {
    margin-bottom: 0.5em;
}

.testimonials_grid {
    background: #eee;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

/* //testimonials */

/* //Portfolio */

.img-grid {
    margin-bottom: 1.2em;
}

h6.main-title-w3pvt {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
    color: #0083ff;
    letter-spacing: 0.5px;
}

.port-desc {
    padding: 1.5em 1em;
    background: #eee;
}

/* gallery */
.gal-img img {
    padding: 10px;
}

/* popup */
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    max-width: 430px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #45d5c0;
}

/* //popup */
/* //gallery */
/* Portfolio */

/* footer */

.footer {
    background: #333;
}

.text-theme {
    color: #0083ff;
}

.footer h2 a {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 0.9em;
    color: #fff;
}

.footer h2 a:hover {
    color: #fff;
}

/* footer grids */

.footerv3-top h3 {
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.footv3-left h4 a {
    font-size: 1.3em;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 14px 0 0;
    position: relative;
    text-transform: capitalize;
}

h4.footer-title {
    color: #777;
    text-transform: capitalize;
}

.footerv3-top p {
    font-size: 1em;
    color: #a3b1bf;
    margin: 1em 0;
    line-height: 1.5em;
}

.footer p a {
    color: #fff;
    text-decoration: underline;
}

.footer p a:hover {
    color: #fff;
}

.fv3-contact p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
}

.footer-top p {
    max-width: 400px;
}

.fv3-contact p a:hover {
    color: #0083ff;
}

.list-w3pvtits li a {
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
}

h3.w3f_title {
    font-size: 1.3em;
    color: #fff;
    font-weight: 400;
}

/* //footer */
/* -- Responsive code -- */
@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1366px) {
    .banner-bottom-w3ls {
        bottom: -170px;
    }
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1080px) {
    h3.home-banner-w3 {
        width: 60%;
        font-size: 2.3em;
    }

    .align-w3-abt {
        padding: 12em 0 8em;
    }

    h4.w3pvt-title {
        font-size: 2.1em;
    }

    h5.w3pvt-title {
        font-size: 2.1em;
    }

    .services-bg-color {
        padding: 0 2em;
    }

    li.nav-right-sty {
        margin-left: 3em;
    }
}

@media screen and (max-width: 1050px) {

    .align-w3 {
        padding: 4em 0;
    }
}

@media screen and (max-width: 1024px) {
    .banner-bottom-w3ls {
        left: 10%;
        width: 80%;
    }

    h3.home-banner-w3 {
        width: 100%;
    }

    p.bnr-txt {
        width: 100%;
    }

    .inner-banner-w3ls {
        min-height: 350px;
        background-size: 1000px;
    }
}

@media screen and (max-width: 991px) {
    nav ul ul{
        height: 500px;
    overflow: scroll;
    }

    .br-right::before{
    display: none;
    }


    .navbar-light .navbar-toggler {
        margin-left: auto;
    }

    .dropdown-menu {
        text-align: center;
    }

    .right_nav {
        margin: 0 auto;
        text-align: center;
    }

    .bb-img h3 {
        font-size: 1.05em;
    }

    p.sub-title {
        width: 100%;
    }

    .wthree_pvt_title {
        margin-bottom: 4em;
    }

    .w3ls-btn {
        margin-top: 3em;
    }

    .align-w3-abt {
        padding: 12em 0 4em;
    }

    .abt-txt h4 {
        font-size: 1.1em;
    }

    .abt-txt {
        margin-left: 0;
    }

    .slide-banner {
        min-height: 420px;
    }

    .slide-img {
        min-height: 450px;
    }

    .carousel-indicators {
        bottom: -45px;
    }

    li.nav-right-sty {
        margin-left: 0em;
    }

    .box13:hover .box-content {
        padding: 3vw;
    }
}

@media screen and (max-width: 900px) {
    h3.home-banner-w3 {
        font-size: 2.2em;
    }
}

@media screen and (max-width: 800px) {
    #contact iframe {
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {
    h3.home-banner-w3 {
        font-size: 2em;
    }

    h4.w3pvt-title {
        font-size: 1.9em;
    }

    .wthree_pvt_title {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 736px) {
    .align-w3 {
        padding: 3em 0;
    }

    .slide-img {
        min-height: 350px;
    }

    .box13 .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 667px) {
    .bb-img h3 {
        font-size: 1em;
    }

    .abt-icon {
        width: 60px;
        height: 60px;
    }

    .abt-icon span {
        font-size: 1.5em;
    }

    h4.w3pvt-title {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 640px) {
    .slide-banner {
        min-height: 385px;
    }

    .carousel-indicators {
        bottom: -35px;
    }
}

@media screen and (max-width: 600px) {
    .banner-bottom-w3ls {
        left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 568px) {
    .wthree-link-bnr {
        padding: 3px 25px;
        letter-spacing: 0px;
        font-size: 13px;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 4px 15px;
        font-size: 0.85em;
        letter-spacing: 1px;
    }

    .banner-bottom-w3ls {
        bottom: -65%;
    }

    .align-w3-abt {
        padding: 22em 0 8em;
    }

    h3.home-banner-w3 {
        font-size: 1.8em;
    }

    p.bnr-txt {
        font-size: 1em;
        line-height: 1.5;
    }

    .align-w3-abt {
        padding: 22em 0 3em;
    }

    h4.w3pvt-title {
        font-size: 1.6em;
    }

    .services-bg-color {
        padding: 0;
    }

    .align-w3 {
        padding: 2em 0;
    }

    .slide-img {
        min-height: 300px;
    }

    .box13 .box-content,
    .box13:after {
        left: 21px;
        right: 33px;
    }

    .w3ls-btn {
        margin-top: 2em;
    }

    #contact iframe {
        min-height: 300px;
    }

    h5.cont-form {
        font-size: 1.5em;
    }

    form.register-wthree .form-control {
        padding: 8px 20px;
    }

    a.navbar-brand {
        font-size: 0.75em;
    }

    .contact-form-wthreelayouts {
        padding: 1em;
    }

    .box13:hover .box-content {
        padding: 20vw 4vw;
    }
}

@media screen and (max-width: 480px) {

    .top_contact_bar{
        font-size: 12px;
    }
 
    .service ul li{
        font-size: 17px;
    }

    .service p {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .fixedcallicon{
        width: 45px;
    }

    .fixedcallicon img{
        width: 30px;
    }


    h3.home-banner-w3 {
        font-size: 1.6em;
        padding: 35px 0 0 0;
    }

    .wthree_pvt_title {
        margin-bottom: 2.5em;
    }

  

    .w3ls-btn {
        margin-top: 2em;
    }

    .w3ls-btn {
        padding: 4px 30px;
    }

    .inner-banner-w3ls {
        min-height: 200px;
        background-size: 500px;
    }

    .slide-img {
        min-height: 200px;
    }

    h3.w3f_title {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 414px) {
    .right_nav {
        margin: 0.5em auto;
    }

    h3.home-banner-w3 {
        font-size: 1.4em;
    }

    .align-w3-abt {
        padding: 19em 0 0em;
    }
}

@media screen and (max-width: 384px) {
    .banner-bottom-w3ls {
        left: 0;
        width: 100%;
    }

    .img-grid {
        padding: 0;
    }

    .testi-text p {
        width: 100%;
        font-size: 1em;
    }

    .testi-desc h5 {
        font-size: 1em;
    }
}

@media screen and (max-width: 375px) {
    .inner-banner-w3ls {
        min-height: 180px;
        background-size: 500px;
    }
}

@media screen and (max-width: 320px) {
    h3.home-banner-w3 {
        font-size: 1.2em;
    }

    .banner-bottom-w3ls {
        bottom: -65%;
    }

    .bb-img h3 {
        font-size: 0.9em;
    }

    .abt-icon {
        width: 50px;
        height: 50px;
    }

    .abt-icon span {
        font-size: 1.2em;
    }

    .abt-txt h4 {
        font-size: 1em;
    }

    .align-w3-abt {
        padding: 17em 0 0em;
    }

    h4.w3pvt-title {
        font-size: 1.4em;
    }

    h4.home-title {
        font-size: 1.1em;
    }
}

/* -- //Responsive code -- */