*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #f2d2a6;
}

nav ul li{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

nav ul li a:hover{
	color: #c90000 !important;
}

.banner{
	margin-top: 130px;
}

.carousel-caption{
	bottom: 105px;
}

.carousel-caption p{
	color: #c90000;
	font-size: 32px;
}

.carousel-caption span{
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 4rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}




.smedia img{
	    position: absolute;
    top: 27px;
    right: 300px;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #c90000 !important;
}

#navbarSupportedContent{
	margin-top: 65px;
}

.navbar-light{
	background-color: #f2d2a6 !important;
}

.carousel-indicators li{
	width: 14px;
	height: 14px;
	border-radius: 50%;

}

.mt{
	width: 100%;
	padding: 4rem 0;
	background-color: #54524f;
}

footer{
	background-color: #7f7770;
	padding: .5rem 0;
	font-size: 12px;
}

footer p{
	margin: 0;
	color: #b19f88;
}

footer a{
	color: #aca69f;
	margin: 0 .5rem;
}

footer a:hover{
	text-decoration: none;
	color: #fff;

}

.about{
	padding: 3rem 0;
}

.about h5{
	font-weight: bold;
	color: #54524f;
}

.about p{
	font-size: 14px;
}
.card-sec{
	padding-bottom: 3rem;
}
.card-block{
	    width: 160px;
    text-align: center;
    margin: 0 auto;
    transition: transform .2s;
	
}

.card-block:hover {
  transform: scale(1.1);
  cursor: pointer; 
}

.card{
	background-color: #54524f;
	width: 173px;
	border-radius: 0;
	height: 230px;
	margin: 1rem auto;
}
.w-70{
	width: 70%;
}

.drop {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);   
}

@media screen and (max-width: 600px){
	.smedia{
		display: none;
	}
	.carousel-indicators{
		margin: 0;
	}

	.carousel-caption{
		    right: 15%;
    bottom: 0;
    top: 30px;
    left: -24%;
	}
	.carousel-caption h2{
		font-size: 14px;
		margin: 0;
	}
	.carousel-caption p{
		font-size: 12px;
	}
	.carousel-caption span{
		font-size: 1rem;
	}

}


@media screen and (min-width: 620px)and (max-width: 780px){
.carousel-caption{
		    right: 15%;
    bottom: 50px;
	}
	.carousel-caption h2{
		font-size: 22px;
		margin: 0;
	}
	.carousel-caption p{
		font-size: 12px;
	}
	.carousel-caption span{
		font-size: 2rem;
	}
}

@media screen and (min-width: 820px)and (max-width: 1024px){
.carousel-caption{
		    right: 15%;
    bottom: 100px;
	}
	.carousel-caption h2{
		font-size: 22px;
		margin: 0;
	}
	.carousel-caption p{
		font-size: 12px;
	}
	.carousel-caption span{
		font-size: 2rem;
	}
}